<%= form_for(@perspective) do |f| %>
  <% if @perspective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perspective.errors.count, "error") %> prohibited this perspective from being saved:</h2>

      <ul>
      <% @perspective.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="entries">
    <table>
      <tr>
        <th>Family</th>
        <th>Name</th>
        <th>Show</th>
        <th>Feature</th>
      </tr>
      <% DataPoint.current.each do |dp| %>
      <tr>
        <td><%= dp.family.titleize %></td>
        <td><%= dp.name.titleize %></td>
        <td><%= check_box_tag 'data_point' %></td>
        <td><%= check_box_tag 'data_point' %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
