<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dash</title>
    <%= stylesheet_link_tag 'dashboard' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery.masonry.min' %>
    <%= javascript_include_tag 'jquery.sparkline.min' %>
    <%= javascript_include_tag 'dashboard' %>

    <meta http-equiv="refresh" content="120">
  </head>
  <body>
    <div id="wrapper">

      <div class="featured">
        <dl>
          <% @perspective.featured_data_points.each do |dp| %>
            <dt><%= dp.family.titleize %> <%= dp.name.titleize %></dt>
            <% if dp.numerical? %>
              <dd>
                <div>
                <span class="sparkline"><%= dp.sampled_history.join(",") %></span>
                <span class="number current"><%= dp.value %></span>
                <span class="number high"><%= dp.high %></span>
                <span class="number low"><%= dp.low %></span>
                </div>
              </dd>
            <% else %>
              <dd><%= dp.value %></dd>
            <% end %>
          <% end %>
        </dl>
      </div>

      <div id="nonfeatured">
        <% @perspective.grouped_data_points.each do |family, data_points| %>

          <div class="nonfeatured">
            <h2><%= family.titleize %></h2>
            <dl>
              <% data_points.each do |dp| %>
                <dt><%= dp.name.titleize %></dt>
                <% if dp.numerical? %>
                  <dd>
                    <span class="sparkline"><%= dp.sampled_history.join(",") %></span>
                    <span class="number"><%= dp.value %></span>
                  </dd>
                <% else %>
                  <dd><%= dp.value %></dd>
                <% end %>
              <% end %>
            </dl>
          </div>
        <% end %>
      </div>
    </div>

    <footer>
      <ul>
        <li><%= link_to "Edit Perspective", edit_perspective_path(@perspective) %></li>
        <li><%= link_to "Perspectives", perspectives_path %></li>
        <li><%= link_to "Update Number", new_data_point_path %></li>
      </ul>
      <div class="clearall"></div>
    </footer>
  </body>
</html>
